@model Prose.Models.ClubViewModels.ClubBookIndexViewModel

@{
    ViewData["Title"] = "ClubDashboard";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
    string clubId = Context.Request.Query["clubId"].ToString();
}


<div>
    <div>
        <h4>Club Info</h4>
        <p>@Model.Club.Description</p>
        <h4>Meeting Info</h4>
        <p>@Model.Club.Name meets @Model.Club.MeetingFrequency.ToLower()</p>
    </div>
</div>

@if (Model.Book == null)
{
    <div class="d-flex justify-content-around">
        <div>
            <h2>Current Book</h2>
            <p>No book has been selected to currently read</p>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-around">
        <div style="width: 30%;">
            <h2>Current Book</h2>
            <table class="table">
                <tbody>
                    <form method="get">
                        <tr>
                            <td>
                                <img src="@Model.Book.Image" alt="Image for @Model.Book.Title" />
                            </td>
                            <td>
                                @if(Model.Book.Title != null)
                                {
                                    @Html.DisplayFor(modelItem => modelItem.Book.Title)
                                }
                            </td>
                            <td>
                                @if (Model.Book.Author != null)
                                {
                                    @Html.DisplayFor(modelItem => modelItem.Book.Author)
                                }
                            </td>
                            <td>
                                @if(Model.Book.Details != null)
                                {
                                    @Html.DisplayFor(modelItem => modelItem.Book.Details)
                                }
                            </td>
                            <td>
                                <input name="bookId" type="hidden" value="@Model.Book.BookId" />
                                <input name="clubId" type="hidden" value="@Model.Club.ClubId" />
                                @if(Model.CurrentUserId == Model.Club.UserId)
                                {
                                    <button type="submit" asp-action="IsPastRead" asp-route-clubId="@clubId">Remove From Currently Reading</button>
                                }
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
}
