@model IEnumerable<Prose.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}



<div class="d-flex justify-content-center">
    <div style="width:600px;">
        <h1>Suggested Books</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookId">Vote</a> |
                        <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
