@model IEnumerable<Prose.Models.BookViewModels.BooksIndexViewModel>

@{
    ViewData["Title"] = "SuggestedBooksIndex";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
    string clubId = Context.Request.Query["clubId"].ToString();
}

<div class="d-flex justify-content-center">
    <div class="indexContainer">
        <h2>Suggested Books</h2>
        <br />
        <p>Vote for the book you want to read next</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Details)
                    </th>
                    <th></th>
                    <th>Total Votes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.Book.Rank</p>
                        </td>
                        <td>
                            <img src="@item.Book.Image" alt="book cover image for @item.Book.Title" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Author)
                        </td>
                        <td class="text" style="min-width: 500px;">
                            <p>
                                @Html.DisplayFor(modelItem => item.Book.Details)
                            </p>
                        </td>
                        <td style="min-width: 100px;">
                            <div style="min-width: 100px;">
                                @if(item.CurrentUserId != item.Book.ClubUser.UserId)
                                {
                                        <a asp-action="Create" asp-controller="Votes" asp-route-bookId="@item.Book.BookId" asp-route-clubId="@clubId"><i class="fas fa-book-reader" title="vote"></i> Vote</a> 
                                }
                                @if(item.CurrentUserId == item.Book.ClubUser.UserId)
                                {
                                        <a asp-action="Delete" asp-route-id="@item.Book.BookId"><i class="fas fa-trash"></i></a>
                                }
                            </div>
                            <div style="min-width: 100px";>
                                @if(item.CurrentUserId == item.OwnerId)
                                {
                                        <a asp-action="CurrentlyReading" asp-controller="Books" asp-route-bookId="@item.Book.BookId" asp-route-clubId="@clubId"><i class="fas fa-arrow-left"></i> Next Read</a>
                                }
                            </div>
                        </td>
                        <td>
                            <p>
                                @item.VoteTotal
                            </p> 
                        </td>


                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>
