@model IEnumerable<Prose.Models.Vote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClubUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
