@model Prose.Models.NYTBooksAPI
@{
    ViewData["Title"] = "Home Page";
}


<div class="container indexContainer">
    <div>
        <h2 class="display-6 align-self-center">NYT Top Fiction Books Today</h2>
        <hr />
        <div class="d-flex justify-content-between flex-wrap">
            @foreach (var b in Model.results.books)
            {
                <div style="max-width:300px;">
                
                        <img class="float-left" style="width:75%;" src="@b.book_image" alt="book image"/>
                        <div class="text-wrap" style="width:75%">
                            <h6 class="font-weight-bold">@b.rank. @b.title</h6>
                            <p>@b.author</p>
                        </div>
                        <div class="text-wrap" style="width:75%">
                            <p>@b.description</p>
                        </div>
                </div>
            }
        </div>

    </div>
</div>

