@model IEnumerable<Prose.Models.ClubUser>

@{
    ViewData["Title"] = "MemberIndex";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h1>MemberIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClubUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClubUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
