@model Prose.Models.ClubViewModels.ClubIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="container indexContainer">
    <h2>Pros&eacute; Book Clubs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clubs[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clubs[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clubs[0].Description)
                </th>
                <th>
                    Meeting Frequency
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Clubs) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingFrequency)
                </td>
                @*Constraint limits the ability to edit or delete a club to the user that created the club*@
                <td>
                    <a asp-action="Details" asp-route-id="@item.ClubId"><i class="fas fa-bars"></i></a>
                    @if (item.UserId == Model.CurrentUserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ClubId"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ClubId"><i class="fas fa-trash"></i></a>
                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
