@model Prose.Models.ClubViewModels.ClubUserIndexViewModel

@{
    ViewData["Title"] = "UserClubsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Clubs</h1>

<p>
    <a asp-action="Create">Create a Club</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubUsers[0].Club.MeetingFrequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClubUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.MeetingFrequency)
            </td>
            <td>
                @if(item.Club.UserId == Model.CurrentUserId)
                {
                    <a asp-action="Edit" asp-route-id="@item.ClubId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ClubId">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.ClubId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
