@model IEnumerable<Prose.Models.ClubUser>

@{
    ViewData["Title"] = "UserClubsList";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h1>UserClubsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club.MeetingFrequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.MeetingFrequency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClubId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
