@model Prose.Models.ClubViewModels.ClubUserIndexViewModel

@{
    ViewData["Title"] = "UserClubsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container indexContainer">
    <div class="row">
        <h2>My Clubs</h2>
    </div>
    <div class="row">
        <p>
            <a asp-action="Create">Create a Club</a>
        </p>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClubUsers[0].Club.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClubUsers[0].Club.MeetingFrequency)
                    </th>
                    <th>
                        <div></div>
                    </th>
                    <th>
                        <div></div>
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.ClubUsers) {
            <div class="row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.MeetingFrequency)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ClubId"><i class="fas fa-bars"></i></a>
                        @if(item.Club.UserId == Model.CurrentUserId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.ClubId"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ClubId"><i class="fas fa-trash"></i></a>
                        }
                    </td>
                    <td>
                        @if(item.Club.UserId != Model.CurrentUserId)
                        {
                            <a asp-action="Delete" asp-controller="ClubUsers" asp-route-id="@item.ClubId">Leave Club</a>
                        }
                    </td>
                </tr>
            </div>
        }
            </tbody>
        </table>
</div>
